/* Para títulos */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* Para subtítulos */
h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* Para texto cuerpo */
body, p {
    font-family: 'Open Sans', sans-serif;
}
